body {
  background-color: #90C3D4;
}
.fancy {
  font-style: italic;
}
h1 {
  text-align: center;
  color: #E32992;
}

.button {
  text-align: center;
}

#mystery-card {
    width: 20%;
    height: 20%;
    margin: left;
    position: relative;
    top: -400px;
    right: 120px;
}

.guessButton {
  position: absolute;
  left: 1150px;
  top: 200px;
}

#displayResults {
  width: 200px;
  height: 200px;
  background-color: red;
}
#flex-container {
  margin-top: 10px;
  width: 60%;
  height: 80%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #D7DCDE;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
}

#artist{
  display: flex;
  width: 18%;
  height: 20%;
  align-items: center;
  justify-content: center;
}

#nav-bar ul{
  list-style: none;
  text-align: right;
  padding: 10px;
  margin-top: -20px;
  float: right;
}

#mystery-card {
  float: right;
}
