body {
  background-color: #90C3D4;
}

#flex-container {
  width: 60%;
  height: 80%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1%;
  margin-left: 8%;
  align-content: center;
  background-color: #D7DCDE;
}

#artist{
  width: 18%;
  height: 20%;
  text-align: center;
}
